In [393]:
import pandas as pd
import numpy as np
import re

from matplotlib import pyplot as plt
%matplotlib inline

In [394]:
""" importing csv as a dataframe """
data = pd.read_csv('data\swiggy_file.csv')

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_15224\1314801955.py:2: SyntaxWarning: invalid escape sequence '\s'
  data = pd.read_csv('data\swiggy_file.csv')

In [395]:
#investigate columns
data.info()

""" 
Rating is a float value. Number of Ratings and Average price to be integers
Cuisine is a list of items
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140657 entries, 0 to 140656
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Restaurant Name    140657 non-null  object
 1   Cuisine            140630 non-null  object
 2   Rating             140657 non-null  object
 3   Number of Ratings  126115 non-null  object
 4   Average Price      140657 non-null  object
 5   Number of Offers   140657 non-null  int64
 6   Offer Name         138849 non-null  object
 7   Area               140655 non-null  object
 8   Pure Veg           140657 non-null  object
 9   Location           140657 non-null  object
dtypes: int64(1), object(9)
memory usage: 10.7+ MB

' \nRating is a float value. Number of Ratings and Average price to be integers\nCuisine is a list of items\n'

In [397]:
#drop rows with missing values
data.dropna(inplace=True)

#drop unnecessary columns
data.drop(columns=['Number of Offers', 'Offer Name'], inplace=True)

In [399]:
#handling Rating column
print(data['Rating'].value_counts())

""" 
Rating has NEW and -- as values, corresponding to new restaurant and not enough reviews by customers
Will convert NEW and -- as 0 (so it doesn't come in the range of actual rating but still have those restaurants in data)
"""

data.loc[data['Rating'].isin(['NEW', '--']) , 'Rating'] = '0'

Rating
0      18848
4.3    13246
4.2    12619
4.1    10599
4.4     8869
4.0     8618
3.8     6655
3.9     6575
4.5     5826
3.7     4344
4.6     3817
3.5     3307
3.6     3138
4.7     2154
5.0     2102
3.4     2080
3.3     2071
4.8     1539
3.2     1474
3.0     1122
3.1     1047
4.9      704
2.8      682
2.9      680
2.7      524
2.5      388
2.6      364
2.4      275
2.0      239
2.3      234
2.2      157
2.1      120
1.5       55
1.9       32
1.8       29
1.7       28
1.6       20
1.4        6
1.3        5
1.0        3
1.1        1
1.2        1
Name: count, dtype: int64

In [400]:
#Convert type of Rating column to float 
data['Rating'] = data['Rating'].astype('float32')

#extract the number from the text Number of Ratings and fill NaN as 0 
data['Number of Ratings'] = data['Number of Ratings'].str.extract('(^\d+)')
data['Number of Ratings'].fillna(0, inplace=True)

data['Number of Ratings'] = data['Number of Ratings'].astype('int64')

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_15224\2634144580.py:5: SyntaxWarning: invalid escape sequence '\d'
  data['Number of Ratings'] = data['Number of Ratings'].str.extract('(^\d+)')
C:\Users\lenovo\AppData\Local\Temp\ipykernel_15224\2634144580.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Number of Ratings'].fillna(0, inplace=True)

In [401]:
#extract the number from average price column
data['Average Price'] = data['Average Price'].str.extract('(\d+)')
data['Average Price'] = data['Average Price'].astype('int32')

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_15224\2546772074.py:2: SyntaxWarning: invalid escape sequence '\d'
  data['Average Price'] = data['Average Price'].str.extract('(\d+)')

In [402]:
replacements = {' ': '', 
                '-': ''}

data['Cuisine'] = data['Cuisine'].str.lower()
data['Cuisine'] = data['Cuisine'].replace(replacements, regex=True)

In [403]:

data.drop(data[data['Cuisine'].str.contains(r'[0-9!.()]', regex=True)].index, inplace=True)

data.drop(data[data['Cuisine'].str.contains(r'^,|,$', regex=True)].index, inplace=True)
data.drop(data[data['Cuisine'].str.contains('discount|foodvendor|navratri|popular', regex=True)].index, inplace=True)

In [404]:
cuisine = data['Cuisine'].unique()
all_cuisines = ",".join(cuisine)

cuisine_list = pd.Series(all_cuisines.split(',')).drop_duplicates().reset_index(drop=True)
cuisine_list.to_csv('cuisines.csv', index=False)

In [405]:
data['Pure Veg'] = data['Pure Veg'].apply(lambda x: 'nonveg' if x=='Yes' else 'veg')

In [406]:
data.to_csv('data\swiggy_cleaned.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_15224\849631923.py:1: SyntaxWarning: invalid escape sequence '\s'
  data.to_csv('data\swiggy_cleaned.csv', index=False)