In [101]:
import pandas as pd
import numpy as np
import re

from matplotlib import pyplot as plt
%matplotlib inline

In [152]:
""" importing csv as a dataframe """
data = pd.read_csv('data\swiggy_file.csv')
data.sample(20)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12856\2960164456.py:2: SyntaxWarning: invalid escape sequence '\s'
  data = pd.read_csv('data\swiggy_file.csv')

,Restaurant Name,Cuisine,Rating,Number of Ratings,Average Price,Number of Offers,Offer Name,Area,Pure Veg,Location
18674,Makhan Foods,"Pizzas, Fast Food",3.1,50+ ratings,₹200 for two,4,"FLAT ₹100 OFF\nNO CODE REQUIREDABOVE ₹550, 15%...",Central Bharatpur,Yes,Bharatpur
5225,Pizza Machine,"Pizzas, Snacks",3.2,5 ratings,₹200 for two,1,FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500,Civil Lines,Yes,Allahabad
87113,Makhanwala,North Indian,--,Too Few Ratings,₹300 for two,1,FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500,Makaniya Purva,No,Mahoba
2986,Khaudhara Point (Bapunagar),"South Indian, Snacks",--,Too Few Ratings,₹100 for two,1,FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500,Bapunagar,Yes,Ahmedabad
120810,Icche Holo Tai,"North Indian, Chinese",3.8,10+ ratings,₹250 for two,4,"FLAT ₹100 OFF\nNO CODE REQUIREDABOVE ₹550, 15%...",J.C Bose Road,No,Siliguri
53604,Hotel Rajabhojanam,"Biryani, Chinese",4.1,500+ ratings,₹300 for two,4,"Free Freebie\nNO CODE REQUIREDABOVE ₹320, DEFA...",Hosur City,No,Hosur
69646,Hunger Fast Food,"Chinese, Snacks",NEW,NaN,₹200 for two,3,"15% OFF UPTO ₹300\nUSE CITIFOODIEABOVE ₹1200, ...",ashok nagar harsh nagar\n13011.4 km,Yes,Kanpur
17579,Monginis,"Bakery, Fast Food",4.2,50+ ratings,₹200 for two,5,"10% OFF UPTO ₹40\nUSE TRYNEWABOVE ₹149, FLAT ₹...",Samaraipur,No,Bhadrak
6331,Star Pizzeria Hub,"Pizzas, Chinese",4.7,8 ratings,₹200 for two,1,FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500,Baldev Nagar,Yes,Ambala
128037,Lakshmis By GSB,Beverages,4.8,20+ ratings,₹200 for two,5,"30% OFF UPTO ₹75\nUSE TRYNEWABOVE ₹149, SAVE B...",Mannuthy,Yes,Thrissur
133047,Chataka Point,"Indian, Snacks",NEW,NaN,₹160 for two,4,"FLAT ₹100 OFF\nNO CODE REQUIREDABOVE ₹550, 15%...",Undera,Yes,Vadodara
82174,Sip Chat Kitchen And Restaurant,"Indian, Snacks",3.2,10+ ratings,₹150 for two,1,FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500,Ausa Road,Yes,Latur
4010,Sree Anandha Bhavans,"South Indian, Chinese",4.5,100+ ratings,₹200 for two,1,FLAT ₹120 OFF\nUSE AXIS120ABOVE ₹500,Chalukunnu,Yes,Alappuzha
40484,Mary Land,"Burgers, Snacks",4.9,10+ ratings,₹400 for two,5,"FLAT DEAL\nFLAT 20% OFF\nUSE PARTYABOVE ₹700, ...",Sahakar Nagar,No,Doddaballapura
10490,Pizzariya,"Pizzas, Burgers",3.9,50+ ratings,₹800 for two,4,"FLAT ₹100 OFF\nNO CODE REQUIREDABOVE ₹550, 20%...",Shiva Ji Nagar,Yes,Azamgarh
93160,All About Cheese,"Fast Food, Snacks",4.1,6 ratings,₹200 for two,5,"10% OFF UPTO ₹40\nUSE TRYNEWABOVE ₹159, FLAT D...",Malad Kan West,Yes,Mumbai
60406,Cafe Hangout,"Italian-American, Fast Food",--,Too Few Ratings,₹500 for two,2,"FLAT 50% OFF\nUSE TRYNEWABOVE ₹149, FLAT ₹120 ...",Jhotwara,No,Jaipur
71577,Shahi Darbar,"North Indian, Mughlai",4.2,1K+ ratings,₹200 for two,3,"15% OFF UPTO ₹300\nUSE CITIFOODIEABOVE ₹1200, ...",Parade\n13008.5 km,No,Kanpur
42469,Hotel Ayodhya,"North Indian, Snacks",4.0,100+ ratings,₹250 for two,4,"FLAT ₹100 OFF\nNO CODE REQUIREDABOVE ₹550, 15%...",Farrukhabad Locality,Yes,Farrukhabad
113041,The Royal Cafe Rajsamand,"Ice Cream, Fast Food",3.3,20+ ratings,₹399 for two,4,"FLAT ₹100 OFF\nNO CODE REQUIREDABOVE ₹550, 15%...",Rajsamand Locality,Yes,Rajsamand

In [153]:
#investigate columns
data.info()

""" 
Rating is a float value. Number of Ratings and Average price to be integers
Cuisine is a list of items
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140657 entries, 0 to 140656
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Restaurant Name    140657 non-null  object
 1   Cuisine            140630 non-null  object
 2   Rating             140657 non-null  object
 3   Number of Ratings  126115 non-null  object
 4   Average Price      140657 non-null  object
 5   Number of Offers   140657 non-null  int64
 6   Offer Name         138849 non-null  object
 7   Area               140655 non-null  object
 8   Pure Veg           140657 non-null  object
 9   Location           140657 non-null  object
dtypes: int64(1), object(9)
memory usage: 10.7+ MB

' \nRating is a float value. Number of Ratings and Average price to be integers\nCuisine is a list of items\n'

In [154]:
#handling Rating column
data['Rating'].value_counts()

""" 
Rating has NEW and -- as values, corresponding to new restaurant and not enough reviews by customers
Will convert NEW and -- as 0 (so it doesn't come in the range of actual rating but still have those restaurants in data)
"""


data.loc[data['Rating'].isin(['NEW', '--']) , 'Rating'] = '0'
data['Rating'].value_counts().head(5)

Rating
0      33719
4.3    13351
4.2    12717
4.1    10719
4.4     8945
Name: count, dtype: int64

In [155]:
#Convert type of Rating column to float 
data['Rating'] = data['Rating'].astype('float32')

In [156]:
#extract the number from the text Number of Ratings and fill NaN as 0 
data['Number of Ratings'] = data['Number of Ratings'].str.extract('(^\d+)')
data['Number of Ratings'].fillna(0, inplace=True)

data['Number of Ratings'] = data['Number of Ratings'].astype('int64')

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12856\3936484191.py:2: SyntaxWarning: invalid escape sequence '\d'
  data['Number of Ratings'] = data['Number of Ratings'].str.extract('(^\d+)')
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12856\3936484191.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Number of Ratings'].fillna(0, inplace=True)

In [157]:
#extract the number from average price column
data['Average Price'] = data['Average Price'].str.extract('(\d+)')
data['Average Price'] = data['Average Price'].astype('int32')

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12856\2723013219.py:2: SyntaxWarning: invalid escape sequence '\d'
  data['Average Price'] = data['Average Price'].str.extract('(\d+)')

In [158]:
#dropping columns that are not very useful
data.drop(columns=['Number of Offers', 'Offer Name'], inplace=True)

In [149]:
data['Cuisine'] = data['Cuisine'].str.split(',')

In [161]:
data.to_csv('data\swiggy_cleaned.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12856\849631923.py:1: SyntaxWarning: invalid escape sequence '\s'
  data.to_csv('data\swiggy_cleaned.csv', index=False)